h1 {
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 26px;
}

nav {
  margin-right: 5%;
}

/*.credits {*/
/*  position: relative;*/
/*}*/

/*.credits .credits-popup {*/
/*  display: block;*/
/*  width: 160px;*/
/*  background-color: #e8e8e8;*/
/*  color: #111;*/
/*  text-align: left;*/
/*  border-radius: 6px;*/
/*  padding: 8px 8px;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  top: 125%;*/
/*  margin-left: -80px;*/
/*  font-size: 13px;*/
/*}*/

/*.credits .credits-popup strong {*/
/*  font-size: 15px;*/
/*}*/

/*!* Popup arrow *!*/
/*.credits .credits-popup::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  bottom: 100%;*/
/*  right: 35%;*/
/*  margin-left: -7px;*/
/*  border-width: 7px;*/
/*  border-style: solid;*/
/*  border-color: transparent transparent #e8e8e8 transparent;*/
/*}*/
