<span class="copyright">
  © 2023. All rights reserved (but this is not for sure)
</span>
<app-credits-overlay></app-credits-overlay>
<!--<button class="btn mat-flat-button credits" (click)="onCreditsClick()">-->
<!--  Credits-->
<!--&lt;!&ndash;  <span class="credits-popup" *ngIf="creditsShown" >&ndash;&gt;-->
<!--&lt;!&ndash;        <strong>Created by:</strong>&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        ▷ <u>Darija Lauš</u>: <em>Inspiration, scientific support</em>&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        ▷ <u>Aleksandra Tsvetkova</u>: <em>Development</em>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--</button>-->
