<div class="section-header">
  Calories
</div>
<div class="section-form">
  <div class="section-fields-container">
    <div class="section-field">
      <label>
        Pet
      </label>
      <select class="pet-type" (change)="onPetUpdate($event)">
        <option></option>
        <option *ngFor="let option of petOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="section-field">
      <label for="currentBcsInput">
        Current BCS
      </label>
      <select class="current-bcs" id="currentBcsInput" (change)="onCurrentBcsSelectUpdate($event)">
        <option value="default"></option>
        <option *ngFor="let option of bcsOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="section-field">
      <label for="targetBcsInput">
        Target BCS
      </label>
      <!--          <input type="number" value="5" min="1" max="9" id="targetBcsInput" (input)="onTargetBcsInputUpdate($event)">-->
      <select class="target-bcs" id="targetBcsInput" (change)="onTargetBcsSelectUpdate($event)">
        <option value="default"></option>
        <option *ngFor="let option of bcsOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="section-field">
      <label for="currentWeightInput">
        Current body weight
      </label>
      <div>
        <input class="target-weight" type="number" value="{{currentWeight}}" min="0" step="0.1" id="currentWeightInput"
               (input)="onCurrentWeightUpdate($event)">
        kg
      </div>
    </div>
  </div>
<!--  <button id="calculateCaloriesBtn" [disabled]="isCaloriesFormInvalid()" (click)="onCaloriesFormSubmit()">-->
<!--    Calculate calories-->
<!--  </button>-->
  <button (click)="onSkipCaloriesForm()">
    I know the calories alright, proceed to Food section
  </button>
</div>
<div class="section-results calories-results">
  <p *ngIf="isCaloriesFormValid()">Target weight:
    <strong>{{targetWeight}}</strong>
    kg
  </p>
  <p *ngIf="isCaloriesFormValid()">Estimated energy requirements per day:
    <strong>{{caloriesNumCalculated}}</strong>
    kcal
  </p>
</div>
