<div class="mat-card-header">
  <div class="mat-card-title">
  Calories
  </div>
</div>
<div class="section-form">
  <div class="section-fields-container">
    <mat-form-field appearance="outline">
      <mat-label>
        Pet
      </mat-label>
      <mat-select
        [(ngModel)]="petTypeSelected"
        (selectionChange)="onPetUpdate($event)"
      >
        <mat-option *ngFor="let option of petOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Current BCS
      </mat-label>
      <mat-select
        [(ngModel)]="currentBcs"
        (selectionChange)="onCurrentBcsSelectUpdate($event)"
      >
        <mat-option *ngFor="let option of bcsOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Target BCS
      </mat-label>
      <mat-select
        [(ngModel)]="targetBcs"
        (selectionChange)="onTargetBcsSelectUpdate($event)"
      >
        <mat-option *ngFor="let option of bcsOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Current body weight
      </mat-label>
      <input matInput class="current-weight" type="number" min="0" step="0.1" id="currentWeightInput"
               placeholder="0" (input)="onCurrentWeightUpdate($event)">
      <span matSuffix>   kg</span>
    </mat-form-field>
  </div>
  <button (click)="onSkipCaloriesForm()">
    I know the calories alright, proceed to Food section
  </button>
</div>
<div class="section-results calories-results">
  <p *ngIf="isCaloriesFormValid()">Target weight:
    <strong>{{targetWeight}}</strong>
    kg
  </p>
  <p *ngIf="isCaloriesFormValid()">Estimated energy requirements per day:
    <strong>{{caloriesNumCalculated}}</strong>
    kcal
  </p>
</div>
