.calories-per-day::-webkit-outer-spin-button,
.calories-per-day::-webkit-inner-spin-button {
  display: none;
}

.calories-per-day {
  text-align: right;
  -moz-appearance: textfield;
}


.ticks {
  display: flex;
  justify-content: space-between;
  /*gap: 6%;*/
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
}
.form-range {
  width: 100%;

}
