* {
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-header {
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 100%;*/

  /*padding-left:*/
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom-style: solid;
  border-bottom-width: 2px;

  background-color: #d5d5d5;
}

.main-sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

app-section-calories, app-section-food, section {
  width: 450px;
  height: 650px;
  background-color: #eee;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-disabled {
  /*pointer-events: none; ????? */
  cursor: not-allowed;
  opacity: 0.3;
  background: #CCC;
}

.section-header, .mat-card-header {
  font-size: 22px;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.section-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 500px;
}

.section-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 300px;
  /*gap: 10px;*/
  align-self: center;
  padding-top: 10px;

  font-size: 18px;
}

.section-field-group {
  display: flex;
  justify-content: space-between;
}

.mat-select-value {
  text-align: end;
}

.section-field select.brand {
  text-align: right;
  width: 120px;
}

.section-field select.diet {
  text-align: right;
  width: 250px;
}

.section-field input {
  text-align: right;
  width: 54px;
}

.section-form button {
  align-self: center;

  display: inline-block;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.section-form button:disabled {
  cursor: not-allowed;
}

.section-results {
  display: flex;
  padding-top: 10px;
  height: 75px;
  font-size: 18px;
  border-top-width: 1px;
  border-top-style: solid;
  align-items: center;
  justify-content: center;
}

.diet-link {
  font-size: 12px;
  align-self: end;
}

.food-type-values-group {
  display: flex;
  align-items: flex-end;
  /*justify-content: space-between;*/
  gap: 15px;
}

.food-type-input {
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.food-type-values-group input {
  width: min-content;
}

app-footer {
  display: flex;
  height: 5%;

  min-height: min-content;
  width: 100%;

  align-items: center;
  justify-content: center;
  border-top-style: solid;
  border-top-width: 1px;

  background-color: #d5d5d5;
}

.copyright {
}
