<main>
  <app-header></app-header>
  <div class="main-sections-container">
    <app-section-calories
      (petSelected)="onPetSelected($event)"
      (caloriesCalculated)="onCaloriesCalculated($event)"
    ></app-section-calories>
    <app-section-food
      [class.section-disabled]="!(caloriesNumCalculated)"
      [caloriesNumCalculated]="caloriesNumCalculated"
      [pet]="pet"
      [shouldBeDisabled]="!caloriesNumCalculated"
    ></app-section-food>
  </div>
  <app-footer></app-footer>
</main>
