<main>
  <app-header></app-header>
  <div class="main-sections-container">
    <app-section-calories
      (petSelected)="onPetSelected($event)"
      (caloriesCalculated)="onCaloriesCalculated($event)"
      (caloriesSkipped)="onCaloriesSkipped($event)"
      [class.section-disabled]="caloriesCalculationSkipped"
    ></app-section-calories>
    <app-section-food
      class="food-amount-calculation-main-container"
      [class.section-disabled]="!(caloriesNumCalculated || caloriesCalculationSkipped)"
      [caloriesNumCalculated]="caloriesNumCalculated"
      [showPetSelectionField]="caloriesCalculationSkipped"
      [pet]="pet"
    ></app-section-food>
  </div>
  <app-footer></app-footer>
</main>
