
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.1em 0 0.6em 0 !important;
}

mat-form-field {
  font-size: 17px;
  width: 100%
}

input {
  text-align: right;
  -moz-appearance: textfield;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

mat-option {
  text-align: end;
}

::ng-deep .mat-form-field-suffix {
  margin-left: 7px;
  align-self: center;
}

mat-icon {
  font-size: 12px !important;
  height: 12px;
  width: 12px;
}
